@using SpeakerIO.Web.Application
@using SpeakerIO.Web.Application.Extensions
@model SpeakerIO.Web.Areas.Organizer.Models.HomeViewModel
@helper GetCallForSpeakersCountText()
{
    if (Model.CallForSpeakersCount == 0)
    {
        @:You have no calls for speakers
    }
    else if (Model.CallForSpeakersCount == 1)
    {
        @:You have 1 call for speakers
    }
    else
    {
        @:You have @Model.CallForSpeakersCount calls for speakers
    }
}

@helper GetSpeakerProfilesCountText()
{
    if (Model.SpeakerProfileCount == 0)
    {
        @:You aren't managing any speaker profiles
    }
    else if (Model.SpeakerProfileCount == 1)
    {
        @:You are managing 1 speaker profile
    }
    else
    {
        @:You are managing @Model.SpeakerProfileCount speaker profiles
    }
}

@{
    ViewBag.Title = "Organizer Home";
}
<div class="row">
    <div class="span4">
        <h2>Organizer Home</h2>
    </div>
</div>
<div class="row">
    <div class="span5">
        <h3>@GetCallForSpeakersCountText()</h3>
        <table class="table table-striped">
            @for (int index = 0; index < @Model.CallsForSpeakers.Length; index++)
            {
                var call = @Model.CallsForSpeakers[index];
                
                <tr>
                    <td>@call.EventName</td>    
                    <td>@call.FirstDayOfEvent.ToDate()</td>    
                    <td><button class="invite btn btn-success" data-toggle="modal" href="#@("mod" + index)">Invite</button>
                        @* shameful hack *@
                        <div class="modal hide" id="@("mod" + index)">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h3>Invitation Text</h3>
                            </div>
                            <div class="modal-body">
                                <h2>@call.EventName</h2>
                                <p>@call.Description</p>
                                <p>@call.FirstDayOfEvent.ToDate() to @call.LastDayOfEvent.ToDate()</p>
                                <p>Call For Speakers</p>
                                <p>We are looking for presenters like you for @call.EventName!</p>  
                                
                                <p>Please visit <a href="@Url.AbsoluteAction("Call", "Home", new { key = call.Slug, area = "" })">@Url.AbsoluteAction("Call", "Home", new { key = call.Slug, area = "" })</a> today to submit a session.</p>
                                <p>Submission deadline: @call.LastDayToSubmit.ToDate()</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn" data-dismiss="modal">Close</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.ActionLink("Review Submissions", "Review", "Submissions", new { id = call.Id }, new { @class = "btn btn-info" })
                    </td>
                    <td>@Html.ActionLink("View", "Call", "Home", new { area = "", key = call.Slug }, new { @class = "view btn btn-info" })</td>
                </tr>
            }
        </table>
    </div>
    <div class="span4 well">
        <h3>@Html.ActionLink("Create a Call For Speakers", "Create", "CallForSpeakers", null, new { @class = "btn btn-primary" })</h3>
    </div>
</div>

 <div class="row">
    <div class="span5">
        <h3>@GetSpeakerProfilesCountText()</h3>
        <table class="table table-striped">
            @for (int index = 0; index < @Model.SpeakerProfiles.Length; index++)
            {
                var speakerProfile = @Model.SpeakerProfiles[index];
                
                <tr>
                    <td><a href="@speakerProfile.HomePageUrl">@speakerProfile.Name</a></td>    
                    <td><img src="@speakerProfile.Tag"/></td>    
                    <td><img src="@speakerProfile.ImageUrl"/></td>    
                </tr>
            }
        </table>
    </div>
    <div class="span4 well">
        <h3>@Html.ActionLink("Create a Speaker Profile", "Create", "SpeakerProfile", new {area = "Speaker"}, new { @class = "btn btn-primary" })</h3>
    </div>
</div>

@section head
{
    <script type="text/javascript">
        $(function () {
            $(".invite").tooltip({title: "We prepared sample text you can copy and send to prospective speakers"});
            $(".view").tooltip({ title: "We made a page to show your call for speakers" });
            $(".delete").click(function () {
                return confirm("You are about to delete this call for speakers.");
            });
        });
    </script>
}
