@using SpeakerIO.Web.Application.Extensions
@model SpeakerIO.Web.Areas.Organizer.Models.HomeViewModel
@helper GetCountText()
    {
    if (Model.CallForSpeakersCount == 0)
    {
    @:You have no calls for speakers
    }
    else if (Model.CallForSpeakersCount == 1)
    {
    @:You have 1 call for speakers
    }
    else
    {
    @:You have @Model.CallForSpeakersCount calls for speakers
    }
}
@{
    ViewBag.Title = "Organizer Home";
}
<div class="row">
    <div class="span4">
        <h2>Organizer Home</h2>
    </div>
</div>
<div class="row">
    <div class="span4">
        <h3>@GetCountText()</h3>
        <table class="table table-striped">
            @foreach (var call in @Model.CallsForSpeakers)
            {
                <tr>
                    <td>@call.EventName</td>    
                    <td>@call.FirstDayOfEvent.ToDate()</td>    
                    <td><a class="btn btn-primary">Edit</a></td>    
                    <td><button class="invite btn btn-info">Invite</button></td>    
                </tr>
            }
        </table>
    </div>
    <div class="span4">
        <h3>@Html.ActionLink("Create a Call For Speakers", "Create", "CallForSpeakers")</h3>
    </div>
</div>
@section head
{
    <script type="text/javascript">
        $(function () {
            $(".invite").tooltip({ title : "Copy Invitation Text To Clipboard" });
        });
    </script>
}
