@using SpeakerIO.Web.Application.Extensions
@model SpeakerIO.Web.Data.Model.CallForSpeakers

<div class="row span9">
    <div class="hero-unit">
        <p><img src="@Model.LogoUrl"/></p>
        <p>@Model.Description</p>
        <p>@Model.FirstDayOfEvent.ToDate() to @Model.LastDayOfEvent.ToDate()</p>
        <p><h2>Call For Speakers</h2></p>
        
        <p>Submission Deadline: @Model.LastDayToSubmit.ToDate()</p>
        <p><a class="btn btn-primary btn-large" href="@Url.Action("Create", "Submission", new {area = "Speaker", key = @Model.UniqueUrlKey})">Submit a session &raquo;</a></p>
    </div>
</div>